<div class="container">
    <div style="text-align:center; padding:10px;">
        <h3>Agregar nuevo producto</h3>
    </div>
    <form class="row g-3" action="/admin/productos/agregar" 
        method="post" enctype="multipart/form-data">
        <div class="col-12">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo">
        </div>
        <div class="col-12">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" rows="3" name="descripcion"></textarea>
        </div>
        <div class="col-12">
            <label class="form-label">Tipo Objeto</label>
            <input type="text" class="form-control" name="tipo_objeto">
        </div>
        <div class="col-12">
            <label class="form-label">Precio</label>
            <input type="number" class="form-control" name="precio">
        </div>
        <div class="col-12">
            <label class="form-label">Imagen</label>
            <input class="form-control" type="file" name="imagen">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Guardar</button>
        </div>
    </form>
    {{#if error}}
    <h5 style="color:red;">{{message}}</h5>
    {{/if}}
</div>